body {
  padding-top: 70px;
  padding-bottom: 30px;
}

/* root */
.jumbotron ul.menu {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.jumbotron ul.menu li {
  flex-basis: 30%;
  height: 44px;
  line-height: 44px;
  border: 1px solid #aaa;
  border-radius: 8px;
  text-align: center;
}
.jumbotron ul.menu li a {
  display: block;
  width: 100%;
  height: 100%;
}

div.login p {
  margin: 15px auto;
}
div.login a.login.btn {
  margin: 0;
}

.form-inline input[type="url"] {
  width: 480px;
  max-width: 100%;
}

.panel.panel-success {
  margin-top: 30px;
}

.btn.login {
  margin-top: 20px;
}

table.urls {
  table-layout: fixed;
}
.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.qr img{
  height: 88px;
}
.mt20{
  margin-top: 20px;
}

input#shortenUrl {
  padding-left: 8px;
}

.copy {
  position: relative;
  display: inline-block;
  margin-left: 8px;
  font-size: 20px;
}

.copy .hint {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
  bottom: 112%;
  left: 50%; 
  margin-left: -60px;
}

.copy:hover .hint {
  visibility: visible;
}

.copy i {
  cursor: pointer;
}

.toggle-utm, .toggle-ogp, .toggle-email {
  display: block;
  margin: 12px 0;
}

input[type="checkbox"] {
  margin-right: 8px;
}

.utm-information, .ogp-information, .email-information {
  display: none;
}

textarea {
  min-height: 140px;
}