body {
  padding-top: 70px;
  padding-bottom: 30px;
}

form.form-inline input[type="url"] {
  width: 480px;
  max-width: 100%;
}

.panel.panel-success {
  margin-top: 30px;
}

.btn.login {
  margin-top: 20px;
}

table.urls {
  table-layout: fixed;
}
.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.qr img{
  height: 88px;
}
.mt20{
  margin-top: 20px;
}