body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.form-inline input[type="url"] {
  width: 480px;
  max-width: 100%;
}

.panel.panel-success {
  margin-top: 30px;
}

.btn.login {
  margin-top: 20px;
}

table.urls {
  table-layout: fixed;
}
.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.qr img{
  height: 88px;
}
.mt20{
  margin-top: 20px;
}

input#shortenUrl {
  padding-left: 8px;
}

.copy {
  position: relative;
  display: inline-block;
  margin-left: 8px;
  font-size: 20px;
}

.copy .hint {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
  bottom: 112%;
  left: 50%; 
  margin-left: -60px;
}

.copy:hover .hint {
  visibility: visible;
}

.copy i {
  cursor: pointer;
}

.toggle-ogp {
  margin: 12px 0;
}

.toggle-ogp input {
  margin-right: 8px;
}

.ogp-information {
  display: none;
}