.form-inline input[type="url"] {
  width: 480px;
  max-width: 100%;
}

.panel.panel-success {
  margin-top: 30px;
}

.btn.login {
  margin-top: 20px;
}

.qr img {
  height: 88px;
}

input#shortenUrl {
  padding-left: 8px;
}

.copy {
  position: relative;
  display: inline-block;
  margin-left: 8px;
  font-size: 20px;
}

.copy .hint {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 112%;
  left: 50%;
  margin-left: -60px;
}

.copy:hover .hint {
  visibility: visible;
}

.copy i {
  cursor: pointer;
}

.toggle-utm,
.toggle-ogp,
.toggle-email {
  display: block;
  margin: 12px 0;
}

textarea {
  min-height: 140px;
}
