{{define "body"}} {{if .Success}}
<div class="alert alert-success"><strong>Success!</strong> {{.Success}}</div>
{{end}}
<div class="jumbotron">
  <h1>短縮URLの編集</h1>
  <form action="/{{.Page.Slug}}" method="post">
    <div class="mb-4">
      <label for="url">短縮するURL</label>
      <input
        id="url"
        type="url"
        name="url"
        value="{{.Page.URL}}"
        class="form-control"
      />
    </div>
    <div class="mb-4">
      <label class="inline-flex items-center">
        <input
          id="ogp"
          type="checkbox"
          name="ogp"
          class="text-blue-500 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
        />
        <span class="ml-2">OGPをカスタマイズ</span>
      </label>
    </div>
    <div id="ogp-fields" class="mb-4 space-y-3 hidden">
      <div class="mb-4">
        <label for="title">タイトル</label>
        <input
          class="ogp form-control"
          type="text"
          name="title"
          value="{{if .OGP}}{{.Page.OGP.Title}}{{end}}"
        />
      </div>
      <div class="mb-4">
        <label for="title">画像URL</label>
        <input
          class="ogp form-control"
          type="url"
          name="image"
          value="{{if .OGP}}{{.Page.OGP.Image}}{{end}}"
        />
      </div>
      <div class="mb-4">
        <label for="title">説明文</label>
        <input
          class="ogp form-control"
          type="text"
          name="description"
          value="{{if .OGP}}{{.Page.OGP.Description}}{{end}}"
        />
      </div>
    </div>
    <div>
      <input type="submit" value="送信" class="btn btn-primary" />
    </div>
  </form>
</div>
<a class="btn btn-default mt-4" href="/">TOPへ戻る</a>

{{end}}
