{{define "body"}}
<div class="jumbotron">
  <h1>SCVL File Uploader</h1>
  {{if .LoginURL}}
  <a href="{{.LoginURL}}" class="login btn btn-primary btn-lg">ログイン</a>
  {{else}}
  <p>ファイルのアップロードができます。</p>
  <form action="/" method="post" enctype="multipart/form-data">
    <div class="mb-4">
      <label for="download_limit"
        >ダウンロード制限回数（無制限の場合は0を指定）</label
      >
      <input
        type="number"
        name="download_limit"
        value="1"
        class="form-control"
        required
      />
    </div>
    <div class="mb-4">
      <label for="valid_days"
        >ダウンロード可能日数（無期限の場合は0を指定）</label
      >
      <input
        type="number"
        name="valid_days"
        value="0"
        class="form-control"
        required
      />
    </div>
    <div class="mb-4">
      <label for="password">パスワード（任意）</label>
      <input type="password" name="password" value="" class="form-control" />
    </div>
    <input type="file" name="file" required />
    <p style="font-size: 12px">※ ファイルサイズの上限は50MBです。</p>
    <label class="toggle-email mt-4">
      <input id="email" type="checkbox" name="email" />メールを送信する
    </label>
    <div id="email-fields" class="space-y-3 hidden">
      <div class="mb-4">
        <label for="receiver_address">送信先メールアドレス</label>
        <input
          type="email"
          name="receiver_address"
          value=""
          class="form-control"
          placeholder=",で区切って複数メールアドレスを入力可能"
          multiple
        />
      </div>
      <div class="mb-4">
        <label for="receiver_name">宛名</label>
        <input
          type="text"
          name="receiver_name"
          value=""
          class="form-control"
          placeholder="山田 太郎"
        />
      </div>
      <div class="mb-4">
        <label for="sender_name">送信者名</label>
        <input
          type="text"
          name="sender_name"
          value="{{.SenderName}}"
          class="form-control"
        />
      </div>
      <div class="mb-4">
        <label for="bcc_address">BCCアドレス(任意)</label>
        <input
          type="email"
          name="bcc_address"
          value="{{.BCCAddress}}"
          class="form-control"
          multiple
        />
      </div>
      <div class="mb-4">
        <label for="message">フリーメッセージ</label>
        <textarea name="message" class="form-control"></textarea>
      </div>
      <label>
        <input
          type="checkbox"
          name="send_password"
        />パスワードを別のメールで自動送信する
      </label>
    </div>
    <label class="mt-4">
      <input
        id="direct_download"
        type="checkbox"
        name="direct_download"
      />ダウンロードページをスキップ
    </label>
    <div class="mt-4">
      <input type="submit" value="送信" class="btn btn-primary" />
    </div>
  </form>
  {{end}} {{if .Slug}}
  <div class="mt-8 p-4 bg-green-200 rounded-md">
    <h3 class="text-2xl font-semibold mb-3">
      ファイルのアップロードが成功しました。
    </h3>
    <p class="mb-3">ダウンロード用リンク:</p>
    <div class="flex items-center justify-center max-w-lg">
      <input
        id="shortenUrl"
        class="flex-1 form-control"
        type="text"
        value="{{.Slug}}"
        readonly
      />
      <div
        id="copy"
        data-copy-target="#shortenUrl"
        class="ml-4 px-4 py-2 bg-yellow-400 text-gray-800 rounded hover:bg-yellow-500 hover:cursor-pointer"
      >
        <i class="fa fa-copy"></i>
        <span class="hint">コピーする</span>
      </div>
    </div>
  </div>
  {{end}}
</div>

{{if .User}}
<h2>{{.User.Name}}のアップロードしたファイル一覧</h2>
<div class="table-wrapper">
  <table class="files">
    <thead>
      <tr>
        <th>ファイル名</th>
        <th width="140">ダウンロード用リンク</th>
        <th width="156">ダウンロード回数 / 制限回数</th>
        <th width="100">期限</th>
        <th width="100">編集</th>
        <th width="100">削除</th>
      </tr>
    </thead>
    <tbody>
      {{$fileHost := .FileHost}} {{range .User.Files}}
      <tr>
        <td>
          <div class="truncate" style="max-width: 260px">{{.Name}}</div>
        </td>
        <td>
          <div class="truncate" style="max-width: 260px">
            <a href="/{{.Slug}}" target="_blank">/{{.Slug}}</a>
          </div>
        </td>
        <td>
          {{.DownloadCount}}{{if ne .DownloadLimit 0}} /
          {{.DownloadLimit}}{{end}}
        </td>
        <td>{{.FormatDeadline}}</td>
        <td>
          <a href="{{$fileHost}}/{{.Slug}}/edit" class="btn btn-default"
            >編集</a
          >
        </td>
        <td>
          <form action="{{$fileHost}}/{{.Slug}}/destroy" method="post">
            <button
              class="btn btn-danger"
              data-confirm="本当に削除して宜しいですか？"
            >
              削除
            </button>
          </form>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}} {{end}}
