{{define "body"}}
<div class="jumbotron">
  <h1>SCVL Image Uploader</h1>
  {{if .LoginURL}}
  <a href="{{.LoginURL}}" class="login btn btn-primary btn-lg">ログイン</a>
  {{else}}
  <p>画像のアップロードができます。</p>
  <form action="/" method="post" enctype="multipart/form-data">
    <input type="file" name="file" required />
    <p style="font-size: 12px">※ ファイルサイズの上限は50MBです。</p>
    <div class="mt-4">
      <input type="submit" value="送信" class="btn btn-primary" />
    </div>
  </form>
  {{end}} {{if .URL}}
  <div class="mt-8 p-4 bg-green-200 rounded-md">
    <h3 class="text-2xl font-semibold mb-3">
      画像のアップロードが成功しました。
    </h3>
    <p class="mb-3">画像表示用リンク:</p>
    <div class="flex items-center justify-center max-w-lg">
      <input
        id="urlImage"
        class="flex-1 form-control"
        type="text"
        value="{{.URL}}"
        readonly
      />
      <div
        id="copy"
        data-copy-target="#urlImage"
        class="ml-4 px-4 py-2 bg-yellow-400 text-gray-800 rounded hover:bg-yellow-500 hover:cursor-pointer"
      >
        <i class="fa fa-copy"></i>
        <span class="hint">コピーする</span>
      </div>
    </div>
  </div>
  {{end}}
</div>

{{if .User}}
<h2>{{.User.Name}}のアップロードした画像一覧</h2>
<div class="table-wrapper">
  <table class="table files">
    <thead>
      <tr>
        <th width="260">URL</th>
        <th width="160">画像</th>
      </tr>
    </thead>
    <tbody>
      {{range .User.Images}}
      <tr>
        <td>
          <div class="truncate" style="max-width: 260px">
            <a href="{{.URL}}" target="_blank">{{.URL}}</a>
          </div>
        </td>
        <td>
          <img src="{{.URL}}" width="140" />
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}} {{end}}
