{{define "body"}}
<div class="jumbotron text-center">
  <h1 class="text-4xl font-bold mb-8 text-gray-800">SCVL Toolbox</h1>
  <ul
    class="flex flex-wrap justify-center items-center mx-auto gap-4 px-6 lg:px-0"
  >
    <li class="mb-4 border border-gray-800 rounded-md" style="min-width: 250px">
      <a
        href="{{.MainHost}}/pages"
        class="flex items-center justify-center h-12 text-gray-800 hover:bg-yellow-400 hover:text-gray-800 transition-colors"
        >URL Shortener</a
      >
    </li>
    <li class="mb-4 border border-gray-800 rounded-md" style="min-width: 250px">
      <a
        href="{{.FileHost}}"
        class="flex items-center justify-center h-12 text-gray-800 hover:bg-yellow-400 hover:text-gray-800 transition-colors"
        >File Uploader</a
      >
    </li>
    <li class="mb-4 border border-gray-800 rounded-md" style="min-width: 250px">
      <a
        href="{{.ImageHost}}"
        class="flex items-center justify-center h-12 text-gray-800 hover:bg-yellow-400 hover:text-gray-800 transition-colors"
        >Image Uploader</a
      >
    </li>
    <li class="mb-4 border border-gray-800 rounded-md" style="min-width: 250px">
      <a
        href="{{.EmailHost}}"
        class="flex items-center justify-center h-12 text-gray-800 hover:bg-yellow-400 hover:text-gray-800 transition-colors"
        >Email Sender</a
      >
    </li>
  </ul>
</div>
{{end}}
