{{define "base"}}
<!DOCTYPE html>
<html>
  <head>
    <title>SCVL Toolbox</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/application.css?t={{.Digest}}"
    />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/tailwindcss">
      @layer base {
        h1 {
          @apply text-3xl font-bold mb-5;
        }
        h2 {
          @apply text-2xl font-semibold mb-4;
        }
        table {
          @apply table-fixed min-w-full divide-y divide-gray-400;
        }
        thead {
          @apply bg-gray-800 text-white;
        }
        tbody {
          @apply bg-white divide-y divide-gray-400;
        }
        th {
          @apply text-left px-4 py-2;
        }
        td {
          @apply px-4 py-2;
        }
      }
      @layer components {
        .btn {
          @apply px-4 py-2 rounded-md focus:outline-none;
        }
        .form-control {
          @apply w-full border-2 border-gray-300 rounded-md px-4 py-2;
          @apply focus:ring focus:ring-blue-500 focus:ring-opacity-50 focus:border-blue-500;
        }
        .jumbotron {
          @apply mb-8 py-8 px-4 bg-white;
        }
        .table-wrapper {
          @apply overflow-hidden;
          @apply rounded-md;
          @apply bg-white;
          @apply border border-gray-800;
        }
      }
      @layer utilities {
        .btn-primary {
          @apply bg-blue-500 text-white hover:bg-blue-600 transition-colors;
        }
        .btn-default {
          @apply border border-gray-300 text-gray-700 bg-white hover:bg-gray-100;
        }
        .btn-danger {
          @apply bg-red-500 text-white hover:bg-red-600;
        }
      }
    </style>
  </head>
  <body class="bg-gray-100 flex flex-col min-h-screen pt-24">
    <nav class="fixed top-0 left-0 right-0 z-50 bg-gray-800 shadow">
      <div
        class="container mx-auto flex items-center justify-between px-4 py-3 lg:px-6"
      >
        <a class="text-white font-semibold text-lg" href="{{.MainHost}}"
          >SCVL Toolbox</a
        >
        <div class="flex flex-col md:flex-row md:items-center">
          <ul
            class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4 lg:space-x-6"
          >
            <li>
              <a
                class="{{if .IsMainHost}}text-yellow-400{{else}}text-white{{end}} hover:text-yellow-400"
                href="{{.MainHost}}/pages"
                >URL Shortener</a
              >
            </li>
            <li>
              <a
                class="{{if .IsFileHost}}text-yellow-400{{else}}text-white{{end}} hover:text-yellow-400"
                href="{{.FileHost}}"
                >File Uploader</a
              >
            </li>
            <li>
              <a
                class="{{if .IsImageHost}}text-yellow-400{{else}}text-white{{end}} hover:text-yellow-400"
                href="{{.ImageHost}}"
                >Image Uploader</a
              >
            </li>
            <li>
              <a
                class="{{if .IsEmailHost}}text-yellow-400{{else}}text-white{{end}} hover:text-yellow-400"
                href="{{.EmailHost}}"
                >Email Sender</a
              >
            </li>
          </ul>
          {{if .UserSignedIn}}
          <form action="/logout" method="post" class="flex items-center ml-4">
            <button
              class="text-gray-800 bg-yellow-400 hover:bg-yellow-500 px-4 py-2 rounded focus:outline-none"
              type="submit"
            >
              Logout
            </button>
          </form>
          {{end}}
        </div>
      </div>
    </nav>
    <main class="container mx-auto flex-auto p-6">{{template "body" .}}</main>
    <footer class="text-center py-2 border-t bg-gray-800 text-white mt-auto">
      © 2021 SCVL Toolbox
    </footer>
    <script src="/js/application.js?t={{.Digest}}"></script>
  </body>
</html>
{{end}}
